@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: rgb(1,18,194,1);
    background: linear-gradient(135deg, rgba(1,18,194,1) 0%, rgba(134,18,182) 49%, rgba(1,18,194,1) 100%);
    background-attachment: fixed;
}

.login {
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 250px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.login h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: rgba(134,18,182);
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.login form input[type="password"], .login form input[type="text"] {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 700;
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.login form input[type="submit"] {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    width: 90%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgba(134,18,182);
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    transition: background-color 0.2s;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.login form input[type="submit"]:hover {
    transform: translate(-5px, -5px);
    background-color: rgba(178,0,251,1);
    transition: background-color 0.3s ease box-shadow 0.3s ease;
}
.login form input[type="submit"]::after{
    transform: translate(-5px, -5px);
}
.login form input[type="submit"]::before{
    transform: translate(12px, 12px);
}

p{
    display: flex;
    color: red;
    margin-top: -100px;
    font-family: 'Roboto', sans-serif;   
    font-weight: 900;
}

#eye{
    position: absolute;
    color:rgba(134,18,182);
    margin-top: 87px;
    margin-right: -310px;
    cursor: pointer;
}